@import './variables.css';
@import './mixins.css';

body {
	font-family: $font;
	font-size: 16px;
	margin: 0;
	height: 100vh;
	overflow: hidden;
}

:global {
	#app {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
	}

	#app.isLoggedIn {
		height: calc(100vh - $headerHeight);
		padding-top: $headerHeight;
	}
}
