$purple: rgb(135, 140, 223);
$green: rgb(153, 251, 198);
$white: #FFF;
$black: #000;
$font: 'Merriweather', sans-serif;

body {
	background-color: $purple;
	color: $green;
	font-family: $font;
	height: 100vh;
}

.is-custom {
	background-color: $green;
	color: $black;

	&:hover {
		background-color: darken($green, 5%);
	}
}

.image {
	max-width: 200px;

	img {
		width: 100%;
		height: auto;
	}
}
