@import '../utils/variables.css';
@import '../utils/mixins.css';

.locationExport {
	display: block;
}

.exportWrap {
	@include pageWrap;
	margin: 0 auto;
	max-width: 400px;
	padding-top: 5%;
	padding-bottom: 5%;
}
